@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,800&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

:root{
  /* Colores */
  /* Color Theme Swatches in Hex */
  --NOW-1-hex: #212026;
  --NOW-2-hex: #165FF2;
  --NOW-3-hex: #183F8C;
  --NOW-4-hex: #1675F2;
  --NOW-5-hex: #F2F2F2;

  color: white;

}

body{
  font-family: 'Rubik', sans-serif;
}
